# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.db
*.sqlite3

# Flask
instance/
.webassets-cache/

# MySQL
*.log
*.sql
*.sqlite

# Virtual environment
venv/
env/

# IDEs
.vscode/
.idea/

# Flask secrets (optional, if you have any)
config.py

# OS
.DS_Store
Thumbs.db
